<%= render :partial => 'layouts/topnav'%>

<style>
body{
	background-image: url("wall.png");
	}
</style>



 <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="jumbotron">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">EVOCATIV
                    <small>Work towards a better you.</small>
                </h1>
            </div>
        </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="http://endlessnovel.com/wp-content/uploads/motivational-quotes-bodybuilding-4.jpg" alt="">
            </div>

            <div class="col-md-4">
                <h3>Favorites:</h3>
                <div class="list-group">
  					<a href="https://www.youtube.com/user/Machiavelli929/videos?shelf_id=1&view=0&sort=dd" class="list-group-item">Motivational Videos</a>
  					<a href="http://forum.bodybuilding.com/" class="list-group-item">Bodybuilding Forum</a>
  					<a href="https://www.reddit.com/r/Fitness/" class="list-group-item">Fitness Reddit</a>
            </div>

        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Shaddy Zayour</p>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
</div>
